In [108]:
pip install pyspark

Requirement already satisfied: pyspark in /home/tc0019/anaconda3/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/tc0019/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/home/tc0019/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

imports

In [109]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

##### Criar / Iniciar Sessão PySpark

In [110]:
spark = (
    SparkSession.builder
    .master('local') #cluster
    .appName('PySpark_01') #spark session
    .getOrCreate() # if already create bring back if not creates a new one
)

Load CSV

In [111]:
df = spark.read.csv('data/wc2018-players.csv', header=True, inferSchema=True)

To exibit like pandas use **show**

In [112]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

Check datatypes

In [113]:
df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- #: integer (nullable = true)
 |-- Pos.: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)

Check NA

In [114]:
# Only transform into pandas if the dataset is small, otherwise it will crash
df.toPandas().isna().sum()

Team                 0
#                    0
Pos.                 0
FIFA Popular Name    0
Birth Date           0
Shirt Name           0
Club                 0
Height               0
Weight               0
dtype: int64

In [115]:
# check na in pyspark
# for coluna in df.columns:
    # print(coluna, df.filter(df[coluna].isNull()).count())

    # to fix syntax error in attribute name: Pos.

Rename column

In [116]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao')\
.withColumnRenamed('FIFA Popular Name', 'Nome_FIFA').withColumnRenamed('Birth Date', 'Nascimento')\
.withColumnRenamed('Shirt Name', 'Nome Camiseta').withColumnRenamed('Club', 'Time').withColumnRenamed('Height', 'Altura')\
.withColumnRenamed('Weight', 'Peso')
df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
only showing top 5 rows

In [117]:
# check na in pyspark
for coluna in df.columns:
    print(coluna, df.filter(df[coluna].isNull()).count())

Selecao 0
Numero 0
Posicao 0
Nome_FIFA 0
Nascimento 0
Nome Camiseta 0
Time 0
Altura 0
Peso 0

select columns

In [118]:
df.select('Selecao', 'nome_fifa').show(5)

+---------+------------------+
|  Selecao|         nome_fifa|
+---------+------------------+
|Argentina|TAGLIAFICO Nicolas|
|Argentina|    PAVON Cristian|
|Argentina|    LANZINI Manuel|
|Argentina|    SALVIO Eduardo|
|Argentina|      MESSI Lionel|
+---------+------------------+
only showing top 5 rows

In [119]:
df.select(col('selecao'), col('altura')).show(5)

+---------+------+
|  selecao|altura|
+---------+------+
|Argentina|   169|
|Argentina|   169|
|Argentina|   167|
|Argentina|   167|
|Argentina|   170|
+---------+------+
only showing top 5 rows

In [120]:
df.select(df['selecao']).show(5)

+---------+
|  selecao|
+---------+
|Argentina|
|Argentina|
|Argentina|
|Argentina|
|Argentina|
+---------+
only showing top 5 rows

Select using ALIAS

In [121]:
df.select(df['selecao'].alias('time')).show(5)

+---------+
|     time|
+---------+
|Argentina|
|Argentina|
|Argentina|
|Argentina|
|Argentina|
+---------+
only showing top 5 rows

In [122]:
df.select(col('selecao').alias('time')).show(5)

+---------+
|     time|
+---------+
|Argentina|
|Argentina|
|Argentina|
|Argentina|
|Argentina|
+---------+
only showing top 5 rows

In [123]:
df.select('Selecao Nome_FIFA Altura'.split()).show(5)

+---------+------------------+------+
|  Selecao|         Nome_FIFA|Altura|
+---------+------------------+------+
|Argentina|TAGLIAFICO Nicolas|   169|
|Argentina|    PAVON Cristian|   169|
|Argentina|    LANZINI Manuel|   167|
|Argentina|    SALVIO Eduardo|   167|
|Argentina|      MESSI Lionel|   170|
+---------+------------------+------+
only showing top 5 rows

organizing select

In [124]:
df.select('Nome_FIFA', 'peso', 'altura').show(5)

+------------------+----+------+
|         Nome_FIFA|peso|altura|
+------------------+----+------+
|TAGLIAFICO Nicolas|  65|   169|
|    PAVON Cristian|  65|   169|
|    LANZINI Manuel|  66|   167|
|    SALVIO Eduardo|  69|   167|
|      MESSI Lionel|  72|   170|
+------------------+----+------+
only showing top 5 rows

Filering

In [125]:
df.filter('selecao = "Brazil"').show(10)

+-------+------+-------+-----------------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|        Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+-----------------+----------+-------------+--------------------+------+----+
| Brazil|    18|     MF|             FRED|05.03.1993|         FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|           TAISON|13.01.1988|       TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|      FERNANDINHO|04.05.1985|  FERNANDINHO|Manchester City F...|   179|  67|
| Brazil|    22|     DF|           FAGNER|11.06.1989|       FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    10|     FW|           NEYMAR|05.02.1992|    NEYMAR JR|Paris Saint-Germa...|   175|  68|
| Brazil|    11|     MF|PHILIPPE COUTINHO|12.06.1992|  P. COUTINHO|  FC Barcelona (ESP)|   172|  68|
| Brazil|     7|     FW|    DOUGLAS COSTA|14.09.1990|     D. COSTA|   Juventus FC (ITA)|   182|  70|
| Brazil|     6|     DF|      FILIPE LUIS|09.08.1985|  FILIPE LUIS|Atletico Madrid (...|   182|  73|
| Brazil|     9|     FW|    GABRIEL JESUS|03.04.1997|     G. JESUS|Manchester City F...|   175|  73|
| Brazil|    13|     DF|       MARQUINHOS|14.05.1994|   MARQUINHOS|Paris Saint-Germa...|   183|  75|
+-------+------+-------+-----------------+----------+-------------+--------------------+------+----+
only showing top 10 rows

In [126]:
# if space appears
df.filter(col('nome camiseta')== 'NEYMAR JR').show()

+-------+------+-------+---------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+---------+----------+-------------+--------------------+------+----+
| Brazil|    10|     FW|   NEYMAR|05.02.1992|    NEYMAR JR|Paris Saint-Germa...|   175|  68|
+-------+------+-------+---------+----------+-------------+--------------------+------+----+

Filter df with two conditions and/&

In [127]:
df.filter((col('selecao')=="Argentina") & (col('altura')>180) & (col('peso')>= 85)).show()

+---------+------+-------+--------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|     Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+---------+------+-------+--------------+----------+-------------+--------------------+------+----+
|Argentina|     6|     DF|FAZIO Federico|17.03.1987|        FAZIO|       AS Roma (ITA)|   199|  85|
|Argentina|    12|     GK| ARMANI Franco|16.10.1986|       ARMANI|CA River Plate (ARG)|   189|  85|
|Argentina|     1|     GK| GUZMAN Nahuel|10.02.1986|       GUZMÁN|   Tigres UANL (MEX)|   192|  90|
+---------+------+-------+--------------+----------+-------------+--------------------+------+----+

In [128]:
df.filter('Selecao = "Brazil"').filter(col("Numero")>20).show()

+-------+------+-------+---------+----------+-------------+--------------------+------+----+
|Selecao|Numero|Posicao|Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+-------+------+-------+---------+----------+-------------+--------------------+------+----+
| Brazil|    21|     FW|   TAISON|13.01.1988|       TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    22|     DF|   FAGNER|11.06.1989|       FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    23|     GK|  EDERSON|17.08.1993|      EDERSON|Manchester City F...|   188|  86|
+-------+------+-------+---------+----------+-------------+--------------------+------+----+

Filter df with two conditions OR |

In [129]:
df.filter((col('nome_fifa')=='MESSI Lionel') | (col('nome_fifa')=='SALVIO Eduardo') | (col('altura')>=199)).show()

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|
|Argentina|     6|     DF|    FAZIO Federico|17.03.1987|        FAZIO|       AS Roma (ITA)|   199|  85|
|  Belgium|     1|     GK|  COURTOIS Thibaut|11.05.1992|     COURTOIS|    Chelsea FC (ENG)|   199|  91|
|  Croatia|    12|     GK|     KALINIC Lovre|03.04.1990|   L. KALINIĆ|      KAA Gent (BEL)|   201|  96|
|  Denmark|     3|     DF|VESTERGAARD Jannik|03.08.1992|  VESTERGAARD|VfL Borussia Mönc...|   200|  98|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+

Filter with & |

In [130]:
df.filter((col('selecao')=="Brazil") & (col('posicao')=="DF") | (col('nome_fifa')=='MESSI Lionel') ).show()

+---------+------+-------+-------------+----------+-------------+--------------------+------+----+
|  Selecao|Numero|Posicao|    Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|
+---------+------+-------+-------------+----------+-------------+--------------------+------+----+
|Argentina|    10|     FW| MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|
|   Brazil|    22|     DF|       FAGNER|11.06.1989|       FAGNER|SC Corinthians (BRA)|   168|  67|
|   Brazil|     6|     DF|  FILIPE LUIS|09.08.1985|  FILIPE LUIS|Atletico Madrid (...|   182|  73|
|   Brazil|    13|     DF|   MARQUINHOS|14.05.1994|   MARQUINHOS|Paris Saint-Germa...|   183|  75|
|   Brazil|     3|     DF|      MIRANDA|07.09.1984|      MIRANDA|FC Internazionale...|   186|  78|
|   Brazil|    14|     DF|       DANILO|15.07.1991|       DANILO|Manchester City F...|   184|  78|
|   Brazil|     2|     DF| THIAGO SILVA|22.09.1984|     T. SILVA|Paris Saint-Germa...|   183|  79|
|   Brazil|    12|     DF|      MARCELO|12.05.1988|      MARCELO|Real Madrid CF (ESP)|   174|  80|
|   Brazil|     4|     DF|PEDRO GEROMEL|21.09.1985|      GEROMEL|   Grêmio FBPA (BRA)|   190|  84|
+---------+------+-------+-------------+----------+-------------+--------------------+------+----+

Create New columns

In [131]:
df.withColumn('worldcup', lit(2018)).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|worldcup|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    2018|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|    2018|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|    2018|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|    2018|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|    2018|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+--------+
only showing top 5 rows

Create conditional column (substring)

In [132]:
df.withColumn('Sub', substring('Selecao', 1,3)).show()

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Sub|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|Arg|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|Arg|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|Arg|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|Arg|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|Arg|
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|      ANSALDI|     Torino FC (ITA)|   181|  73|Arg|
|Argentina|     5|     MF|      BIGLIA Lucas|30.01.1986|       BIGLIA|      AC Milan (ITA)|   175|  73|Arg|
|Argentina|     7|     MF|       BANEGA Ever|29.06.1988|       BANEGA|    Sevilla FC (ESP)|   175|  73|Arg|
|Argentina|    14|     DF| MASCHERANO Javier|08.06.1984|   MASCHERANO|Hebei China Fortu...|   174|  73|Arg|
|Argentina|    21|     FW|      DYBALA Paulo|15.11.1993|       DYBALA|   Juventus FC (ITA)|   177|  73|Arg|
|Argentina|    19|     FW|     AGUERO Sergio|02.06.1988|       AGÜERO|Manchester City F...|   172|  74|Arg|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|      HIGUAÍN|   Juventus FC (ITA)|   184|  75|Arg|
|Argentina|    11|     MF|    DI MARIA Angel|14.02.1988|     DI MARÍA|Paris Saint-Germa...|   178|  75|Arg|
|Argentina|    20|     MF|  LO CELSO Giovani|09.04.1996|     LO CELSO|Paris Saint-Germa...|   177|  75|Arg|
|Argentina|    13|     MF|  MEZA Maximiliano|15.12.1992|         MEZA|CA Independiente ...|   180|  76|Arg|
|Argentina|     8|     DF|      ACUNA Marcos|28.10.1991|        ACUÑA|   Sporting CP (POR)|   172|  77|Arg|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981|    CABALLERO|    Chelsea FC (ENG)|   186|  80|Arg|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|      MERCADO|    Sevilla FC (ESP)|   181|  81|Arg|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|     OTAMENDI|Manchester City F...|   181|  81|Arg|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|         ROJO|Manchester United...|   189|  82|Arg|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+
only showing top 20 rows

In [133]:
df = df.withColumn('ano', substring('nascimento', -4, 4))

In [134]:
df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso| ano|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|1996|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|1993|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|1990|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|1987|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+
only showing top 5 rows

Concat or concat with separator

In [135]:
df.withColumn('Concat', concat('selecao', col('nome camiseta'))).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+-------------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso| ano|             Concat|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+-------------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992|ArgentinaTAGLIAFICO|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|1996|     ArgentinaPAVÓN|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|1993|   ArgentinaLANZINI|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|1990|    ArgentinaSALVIO|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|1987|     ArgentinaMESSI|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+-------------------+
only showing top 5 rows

In [136]:
df.withColumn('Separator', concat_ws(' - ', 'selecao', 'numero')).show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+--------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso| ano|     Separator|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+--------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| Argentina - 3|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|1996|Argentina - 22|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|1993|Argentina - 15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|1990|Argentina - 18|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|1987|Argentina - 10|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+--------------+
only showing top 5 rows

In [ ]:
dia = udf(lambda data: data.split('.')[0])

In [ ]:
df = df.withColumn('Dia', dia('Nascimento'))

In [139]:
df=df.withColumn('Ano', col('Ano').cast(IntegerType()))
df.printSchema()

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano: integer (nullable = true)

In [140]:
dia = udf(lambda data: data.split('.')[0])

In [141]:
df = df.withColumn('Dia', dia('Nascimento'))

In [143]:
mes = udf(lambda data: data.split('.')[1])

In [144]:
df = df.withColumn('Mes', mes('Nascimento'))

In [145]:
df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso| Ano|Dia|Mes|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992| 31| 08|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65|1996| 21| 01|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66|1993| 15| 02|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69|1990| 13| 07|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72|1987| 24| 06|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+----+---+---+
only showing top 5 rows

In [150]:
df=df.withColumn('birth', concat_ws('-', 'ano', 'mes','dia'))
df.printSchema()

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano: integer (nullable = true)
 |-- Dia: string (nullable = true)
 |-- Mes: string (nullable = true)
 |-- birth: string (nullable = false)

In [151]:
df=df.withColumn('birth', col('birth').cast(DateType()))
df.printSchema()

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Ano: integer (nullable = true)
 |-- Dia: string (nullable = true)
 |-- Mes: string (nullable = true)
 |-- birth: date (nullable = true)

In [ ]:
# Elastic search - Mover title (HML)
ES_TC_DADOS_USER_HML=terminal-r
ES_TC_DADOS_PSWD_HML=rw9gf8Uz8WRFthd
# Elastic search - Mover title (PRD)
ES_TC_DADOS_USER_PRD=terminal-r
ES_TC_DADOS_PSWD_PRD=JQGBNK3TEX6gNAZ
# Elasticsearch - Search (HML)
ES_TC_SEARCH_USER_HML=recsys-r
ES_TC_SEARCH_PSWD_HML=E7CsE7ZFbu5m5qJ
# Big Query
BIGQUERY_USER='tc-ml-855@tc-datalake.iam.gserviceaccount.com'
GOOGLE_APPLICATION_CREDENTIALS_TCDATALAKE='{"type": "service_account","project_id": "tc-datalake","private_key_id": "55b9c0d90f22b3325765224042383fde093c1b5f", "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDQZFHabBcIrfrt\n2cUamCxl+Aj+mMDV3lojQMd83pC0HdbWCl/UdMRdL4UUPsKywxRcFAKl48dl7Bwh\niEl60PqlaBdr5i74RMa9KOZl8OCjjE4YN7PSUov8dOnawdYc8ecNNlgs6vboRcAj\nltAXWBcxBJOJVeC7IKodyyhoapHfyHu0GZKZBgjyX7w8hjYHoNIhPA6sK1/1h13g\nW2xKFKbE1sfvBaEACJxznhisgWEUoLBMv9VLPvE1os7w+EJ3dDjVqvHOXPKOZpAF\n7c1QevmUV0YfEFWGjzgxfJvpT5ZBeUfvALp4GnB4SoFaj9lR5fXH55ntbxBGMJXu\nIZKbD8H7AgMBAAECggEAVwbeLBJh2C0YEsaUCtQsDnV0BCb0uRv/lqNR6/LiiWXA\nt2hjts0AyE21DMxc8NyJHx74MCEcv5LH+LT6wsCNPBBpX5UkXmgSeyKefUoH9iT8\n5B43CYmRjl+g3ct/SF05eYoNbsy9Sij+4Z30zxrprH3Vw0/K5zrv8DtMZ7bBrqtA\n6QoRXW0eg5ikJrktyo0A6cnOIO1szIVul7THLkL2t3OALk9ArYI4pmsoZDR+ORSl\nDRVUcLYoyh7JwUQoBVvKgiv+jLldLPK86V8Z9eiu9n+ZkE1Lpi5Tj9RyqQbnk3VZ\nNe1ngJ5a6nNpFExFszsabzk7HJKTjZ9DY8C/tPRJIQKBgQDxoQvKK7kJ4uI1s/GU\nZoioyXdtQSMs0+1oDhtPJj+tcf5ngoj9hf6fhvPhZ3iX96pqVlrBkN4bOs3z79Ky\nANwB29xgW14XNAFyn9qHaQd61WyZt/C5yBkuyRNxzCbOL2fMWD2hOBvbf4uQuJIy\nUdTO+J1uG2ynP+sz2neK7HDzCwKBgQDcyTdiWJGMvi14UmkYPG6tq70JQWTNrDhm\njzzI9O5vTBvKtgfSLB/DBPes3D8ZJZ2ItAu8R8f26VDnnNkwZ+R1I/fsWcA3ZkGX\nS2E98a2Sts+o1wqLXuK/TCTcDaLlqYErHe0JT6dfc6/pverjkd05KJUxkx5Pnj3Q\n3uFX2uHC0QKBgQCLiOrcBz/GG8VyKcX6YvPMNPvIlfMQMhpJGsxeesIPEWNOty0Q\n6s5NpYs0waH8cENzQQcL/PKmWuEQW5AaxzBFyoeLBXhigd/MJ8/0nox5PMKISpaz\nUoBoainWb4SBURLqCJMehN5hdVhNbKjQcj0ogJ25NhEazGiw+xpJmZzoXQKBgCEd\ntUb1De/UXrGbetP9zIQULGiE/H+1A0iu12k1A8aB3fFL2GR35dO0nQm6h2RYNgbZ\nKqF1CtNIL7Bt4E3YZ3YCjR9QXvpwRgpRbiaCZ4yICyHCD3zUIKKc4zJ2gSZ9hDhZ\nZsJsxigVDB+9MswrhskaAzbKYFOE4rS/mYE5/X7hAoGAMEDVCaq/+NCb5tQtur+V\nErMpYekfK/+EyaM6oZmmrDkov9caE6pbnN6w6yHpu84Q5KTD5OdqmZFaXchYoj6J\nhlI3sE2Dw1wTnoFZczJX3zRiE0rmBawPoRTEPyuMGbmh81ixLKDuyBASLSky+zzZ\nFXgo+Lod3JhC2p5geUwc2Ms=\n-----END PRIVATE KEY-----\n", "client_email": "tc-ml-855@tc-datalake.iam.gserviceaccount.com","client_id": "107084450514124685300","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/tc-ml-855%40tc-datalake.iam.gserviceaccount.com"}'
GOOGLE_APPLICATION_CREDENTIALS_TCSERVER='{"type": "service_account","project_id": "tcserver-b5b0c","private_key_id": "62511a4244ea34278a72f30a7ff4032e8bf1cd87","private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDMRJL1quGtanty\n3WYrmJqH8fkMnQSSrOJZzVq/ojZxT9vYooXjTOspfBG6GrdP9qnTSEB6fTU4nYXX\nIAVDD7A1zRqsEQsA+HgmgqbHDlLQnpxviFMx6eW+dGB2iY8Ux0xz7E1dwLW4VLO2\nfen/dH3oVUQgRQUPOkXYSul5x1JNN0hFZ9Hp02S0vifkhHecnh/ByQhtZhPnkB3G\norkpHHjUnZ3FVrb/EFim5uyNKOHdHFMjPURSyaqL5g7kYl8yPy3hW6t/Aj5nXx3Z\nOCIP7p4M2IJcB2ekSXaJ6xuYH1pthzUvULtdVtttInNLWImNwxSA9TqS1y7nYrRe\nCj4s9YdxAgMBAAECggEAIP14QK4LCb93VZtVS3g3iPo3D2bynJ/IZNmKLQYNReqw\nZoIFHqtHFamgkU6MSaFcVy/FniLHrC+gtJhK0URg4KeSBbUw8kSu3wVd2ytAi8n6\nGPdK/HY6sTJJfAuGbMQtYFGLQzeDAdTIO5KFbskJJrNSr+WFxipSqnaa05yx+Z9I\ng2qR3tvDqCrvrTW7yKmhjnpw+asmibA9OUs1EUgAzIs7zEUNpw55PKhzqrNgsgoU\nATCzzUSOCYi3WC8h7Nu+6QsyOJlehT5PItV9LhEjT0vm2IR0PSIaOzpsBLvTdSDQ\niXxc9i16ghvgp/OR7egQOMeNR2Zpldg7ui6sQjRtGwKBgQD1cqOWAORgJizEZfjY\nSdwQxNG1STpOqebV94DDiBcaQVYoZ9rrcETOyLJf7/1J9pzSh9riSGSjAJvFT9+p\njeeNyV/Z789BuUtY3v9sjlB74L51NJCVPiWGIAk+u27hal/MiJ9OnEnTEVVTR9La\nif1xnCzjhFKqG1JOvt+C2U5LKwKBgQDVDLcFd98aU4PJoSuXPEdniy6ByCzgx+dL\n3Amn1YDpQitn+lwNcEsHkrox6V5BDKIcpoqRl3Pic8Zj6+JaBkGlRk9aCRurJSy7\njaubEb+S9GIr6LScmCxxohA40I00Vh5VvgXu3QYZSXJV2DL1DxE0DTcpCx1mmCPz\nKX2n65M50wKBgFQobYy2W5fYHwtsR2mp0YnyYlE9fX+RY/PDfGQO2pUHCAqsqXSG\ntyEL0ZVxjTB6HYVWTae+2LrHL6H05CSX4mhMPtBUGIVZiks7kure1RvUkJlRX628\ndFNL0r+utrMVrSlNQwpKLknvrIj0nIiQPdVhjkaojUuEOLGFYs/TwLOnAoGBANRB\np7IV/DuRSvI91V0GXClnu/zm/vcvklu8rA3/I0DBgNdF0iI9ZzLzVvfVBeeO+4/J\nyLJGjtjk+Zmhb9C6/Pn5c6NDAcLf9ZIiEf8bjp6NRaVzYUXGQjkv+jNwa83horVP\n7T9OCv50cyndjN8jlMMkC3mjrjYBi4d+Jcd/Zx2rAoGAdKLWp/F5SiB2kX2mX3oM\nLw9PRPMYnKDdUE8ncGPowFQLngC8iG3BRFrdekDE1hcnTx2jo3oM1w3TurDK6MdV\niZt4bNDZsQoDLeWVTmXmXxBa+h1/JGCEL7WCdXzvg/LG6UHlLkBYkgGqAXL09cFG\nJQXTlDKMLUCzUXNDk9QOy7U=\n-----END PRIVATE KEY-----\n","client_email": "tcserver-get-ml@tcserver-b5b0c.iam.gserviceaccount.com","client_id": "114403090878090702226","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/tcserver-get-ml%40tcserver-b5b0c.iam.gserviceaccount.com"}'
GCP_PROJECT_B2B='tc-datalake'
GCP_DATASET_B2B='analytics_295503703'
GCP_TABLE_B2B='events_*'
GCP_PROJECT_B2C='tcserver-b5b0c'
GCP_DATASET_B2C='analytics_172010879'
GCP_TABLE_B2C='events_*'
#Config
RECSYS_PORT=5001
STREAMLIT_SERVER_PORT=8501
JIRA_TOKEN_API=XyaxKZaLNJt0zFIf5syzD2C0
SWAGGER_IP=10.120.0.11 # HML KUBERNETS
SECRET_KEY=nM5f7ZzAe9uZrjGV5hF7